.introcontainer {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.labelholder {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  left: -5px;
}

.label {
  width: 200px;
  padding: 15px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  transform: rotate(-45deg) translate(-28%, -35%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.labelblue {
  width: 200px;
  padding: 15px;
  background-color: #3F51B5;
  color: #fff;
  text-align: center;
  transform: rotate(-45deg) translate(-28%, -35%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.labelred {
  width: 200px;
  padding: 15px;
  background-color: #f44336;
  color: #fff;
  text-align: center;
  transform: rotate(-45deg) translate(-28%, -35%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.labelorange {
  width: 200px;
  padding: 15px;
  background-color: #FFC107;
  color: #fff;
  text-align: center;
  transform: rotate(-45deg) translate(-28%, -35%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.popularimage {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  background-position: center center;
  background-size: cover;
  background-image: url('http://media.comicbook.com/2017/03/wonder-woman-gal-gadot-reveals-new-poster-237587-1280x0.jpg');
}
.topratedimage {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  background-position: center center;
  background-size: cover;
  background-image: url('http://media.comicbook.com/2017/03/wonder-woman-gal-gadot-reveals-new-poster-237587-1280x0.jpg');
}
.nowplayingimage {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  background-position: center center;
  background-size: cover;
  background-image: url('http://media.comicbook.com/2017/03/wonder-woman-gal-gadot-reveals-new-poster-237587-1280x0.jpg');
}
.upcomingimage {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  background-position: center center;
  background-size: cover;
  background-image: url('http://media.comicbook.com/2017/03/wonder-woman-gal-gadot-reveals-new-poster-237587-1280x0.jpg');
}

.popcastcontainer {
    margin: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.popcastimage {
    width: 150px;
    height: 200px;
    margin-left: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}
.popcastname {
    font-size: 15px;
    text-decoration: bold;
    text-align: center;
    color: white;
}
.chipcontainer {
    display: flex;
    margin-top: 5vh;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    margin: 5px 5px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    color: black;
}