@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');


.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #424242;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 5;
}
.navbarcontent {
  display: flex;
  width: 95%;
  margin: auto;
  align-items: center;
}


.navbarsearch{
  flex-grow: 1;
  padding: 12px 20px;
  margin: 8px 8px;
}

.filler {
  flex-grow: 1;
}


.dialoginfo{
  color: red;
}


.chipcontainer{
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}


.detailchip{
  background-color: #e5e5e5;
  height: 22px;
  margin: 2px;
  font-weight: bold;
  line-height: 120%;
  padding:5px 5px;
  border-radius: 25px;
}

.detailtitle {
  text-align: center !important;
  font-size: 2.5em !important;
}

.dialogwidth {
  width: 100% !important;
}
.activelink {
  text-decoration: none;
}
.currentcat {
  font-size: 1.5em;
  color: white;
}


.title {
  color: #fff;
  font-family: 'Bungee Shade', cursive;
  font-size: 25px;
  letter-spacing: 4px;
  text-shadow: 2px 2px 10px #1D2671, 4px 4px 15px #00E5FF;
}

@media only screen and (max-width: 500px) {
    .detailtitle {
        font-size: 1.5em !important;
    }
    .currentcat {
      font-size: 1em;
    }
    .navbarcontent {
      width: 100%;
    }
    .title {
      font-size: 1em;
    }
}
@media only screen and (max-width: 320px) {
    .detailtitle {
        font-size: 1.5em !important;
    }
    .currentcat {
      font-size: .7em;
    }
}

