


.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #E0E0E0;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 5;
}

.navbarsearch{
  flex-grow: 1;
  padding: 12px 20px;
  margin: 8px 8px;
}

.filler {
  flex-grow: 1;
}


.dialoginfo{
  color: red;
}


.chipcontainer{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}


.chip{
  background-color: #e5e5e5;
  height: 22px;
  margin: 2px;
  font-weight: bold;
  line-height: 120%;
  padding:5px 5px;
  border-radius: 25px;
}

.detailtitle {
  text-align: center !important;
  font-size: 2.5em !important;
}